{
  "username": "username",
  "password": "password",
  "secret": "secret",
  "cookieSecret": "secret",
  "authenticationDuration": 15,
  "httpsKeyPath": "path/to/https/key",
  "httpsCertPath": "path/to/https/certificate"
}
